{
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": false,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 80,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.js"
}
